{% if items.has_other_pages %}
    <div class="col-6 offset-3 text-center pagination-set">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if items.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ items.previous_page_number }}" style="background-color: #696969; color: #ffffff"><<</a>
                    </li>
                {% else %}
                    <li class="page-item disabled ">
                        <a class="page-link" style="background-color: #696969; color: #ffffff"><span ><<</span></a>
                    </li>
                {% endif %}
                {% for i in page_range %}
                    {% if items.number == i %}
                        <li class="page-item active"><a class="page-link" href="#" style="background-color: #0033CC">{{i}} <span class="sr-only">(current)</span></a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{i}}" style="background-color: #696969; color: #ffffff">{{i}}</a></li>
                    {% endif %}
                {% endfor %}
                {% if items.has_next %}
                    <li class="page-item"><a class="page-link" aria-label="Next" href="?page={{items.next_page_number}}" style="background-color: #696969; color: #ffffff">>></a></li>
                {% else %}
                    <li class="page-item disabled " ><a class="page-link" style="background-color: #696969; color: #ffffff"><span>>></span></a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endif %}