{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        {% load staticfiles %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}" />
        <title>LOGIN | CT</title>
        <script>
            $(document).ready(function () {
                $("#navbar").btrmenu();
            });
        </script>
    </head>
    <body>
        {% block content %}
            <div class="col-sm-4 form-group-lg mx-auto">
                <center><h1>Đăng kí</h1></center>
            </div>
            <hr/>
            <div class="col-sm-4 form-group-lg mx-auto">
                <form method="POST" action='.' enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="hidden" name="next" value="/" />
                    <br/>
                    <center><input class="btn btn-primary btn-lg btn-block" type="submit" value="Đăng kí"></center>
                </form>
            </div>
        {% endblock %}
    </body>
</html>
            